<section class="parent scrollable padded">

    <div class="loaderContainer" *ngIf="isLoading">
        <app-pencil-loader></app-pencil-loader>
    </div>

    <div class="header">

        <div style="display: flex; gap: 5px;">

            <img src="../../assets/iconsaxicons/twotone/note-1.svg">
            <span class="headerTitle">Practice Papers</span>

        </div>

        <div style="display: flex; gap: 10px; align-items: center;">

            <span class="searchContainer">

                <img src="../../assets/iconsaxicons/outline/search-normal-1.svg">
                <input type="text" placeholder="Search tests..." (input)="doSearch($event)">

            </span>

            <span class="seperator"></span>

            <span
                style="display: flex; align-items: center; gap: 10px; font-family: 'Poppins-Regular', sans-serif; font-size: 14px;">
                <label>Show Completed</label>
                <label class="switch">
                    <input type="checkbox" checked [(ngModel)]="showCompleted" (click)="showCompleted ? '' : filterIncompletedTests()">
                    <span class="slider"></span>
                </label>
            </span>

        </div>

    </div>

    <div class="testsContainer" *ngIf="!isSearching && showCompleted">

        <div class="testDetailsContainer" *ngFor="let test of tests" (click)="openTestDetails(test)">

            <div class="containerHeader">

                <span class="title">
                    {{test.title}}
                </span>

                <span *ngIf="checkIfTestCompleted(test._id)" class="completed">
                    Completed
                </span>

            </div>

            <div class="content">

                <div class="labels">

                    <div>
                        <i class="fa fa-list-ul"></i>
                        <label>{{test.questions.length}}&nbsp;questions</label>
                    </div>

                    <div>
                        <i class="fa fa-clock-o"></i>
                        <label>{{getTestTime(test.is_without_time, test.time)}}</label>
                    </div>

                    <div>
                        <i class="fa fa-graduation-cap"></i>
                        <label>{{test.marks}}&nbsp;marks</label>
                    </div>


                </div>

                <span class="next">
                    <img src="../../assets/iconsaxicons/bulk/arrow-square-right.svg">
                </span>

            </div>

        </div>

    </div>

    <div class="testsContainer" *ngIf="isSearching">

        <div class="testDetailsContainer" *ngFor="let test of searchResult" (click)="openTestDetails(test)">

            <div class="containerHeader">

                <span class="title">
                    {{test.title}}
                </span>

                <span class="completed">
                    Completed
                </span>

            </div>

            <div class="content">

                <div class="labels">

                    <div>
                        <i class="fa fa-list-ul"></i>
                        <label>{{test.questions.length}}&nbsp;questions</label>
                    </div>

                    <div>
                        <i class="fa fa-clock-o"></i>
                        <label>{{getTestTime(test.is_without_time, test.time)}}</label>
                    </div>

                    <div>
                        <i class="fa fa-graduation-cap"></i>
                        <label>{{test.marks}}&nbsp;marks</label>
                    </div>


                </div>

                <span class="next">
                    <img src="../../assets/iconsaxicons/bulk/arrow-square-right.svg">
                </span>

            </div>

        </div>

        <div style="text-align: center; width: 100%; font-family: 'Poppins-Regular';" *ngIf="searchResult.length == 0">
            0 Search Result
        </div>

    </div>

    <div class="testsContainer" *ngIf="!isSearching && !showCompleted">

        <div class="testDetailsContainer" *ngFor="let test of incomletedTests" (click)="openTestDetails(test)">

            <div class="containerHeader">

                <span class="title">
                    {{test.title}}
                </span>

                <span *ngIf="checkIfTestCompleted(test._id)" class="completed">
                    Completed
                </span>

            </div>

            <div class="content">

                <div class="labels">

                    <div>
                        <i class="fa fa-list-ul"></i>
                        <label>{{test.questions.length}}&nbsp;questions</label>
                    </div>

                    <div>
                        <i class="fa fa-clock-o"></i>
                        <label>{{getTestTime(test.is_without_time, test.time)}}</label>
                    </div>

                    <div>
                        <i class="fa fa-graduation-cap"></i>
                        <label>{{test.marks}}&nbsp;marks</label>
                    </div>


                </div>

                <span class="next">
                    <img src="../../assets/iconsaxicons/bulk/arrow-square-right.svg">
                </span>

            </div>

        </div>

    </div>

</section>