<div class="parent">

    <section class="topSection">

        <header class="header">
            <div class="headerSubContainerStart">
                <div class="searchContainer">

                    <img src="../../assets/iconsaxicons/linear/search-normal-1.svg">
                    <input type="text" placeholder="Search for course, tests etc.">

                </div>
            </div>
            <div class="headerSubContainerEnd">

                <div class="headerOptionsIconContainer">
                    <!-- matBadge="8" matBadgePosition="after" matBadgeOverlap="true" -->
                    <i class="fa fa-solid fa-envelope"></i>
                </div>

                <div class="headerOptionsIconContainer">
                    <!-- matBadge="8" matBadgePosition="after" matBadgeOverlap="true" -->
                    <i class="fa fa-solid fa-bell"></i>
                </div>

                <div class="profileDetailsContainer">
                    <div class="profileAvatarContainer" style="">
                        <img style="width: 25px; height: 25px; border-radius: 30px;"
                            src="../../assets/imgs/default_profile_img.png" />
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <label
                            style="margin-left: 8px; font-family: 'Poppins-Medium'; font-size: 14px; color: white;">Shubham</label>
                        <label
                            style="margin-left: 8px; font-family: 'Poppins-Regular'; font-size: 14px; color: gray;">#username</label>
                    </div>
                </div>



            </div>
        </header>

        <div class="welcomeContainer">
            <div class="welcomeMessage">
                <span>Welcome back,&nbsp;</span>
                <span>Shubham!</span>
                <span>Here's your study overview</span>
            </div>
            <div class="reportsContainer">
                <div class="report">
                    <div class="icon">
                        <img src="../../assets/iconsaxicons/bold/book-saved.svg" alt=""
                        style="filter: brightness(0) saturate(100%) invert(42%) sepia(20%) saturate(2748%) hue-rotate(120deg) brightness(88%) contrast(91%);">
                    </div>
                    <div class="labels">
                        <label>Completed Courses</label>
                        <label>0</label>
                    </div>
                </div>
                <div class="report">
                    <div class="icon">
                        <img src="../../assets/iconsaxicons/bold/note-21.svg" alt="" 
                        style="filter: brightness(0) saturate(100%) invert(43%) sepia(97%) saturate(1262%) hue-rotate(25deg) brightness(96%) contrast(94%);">
                    </div>
                    <div class="labels">
                        <label>Completed tests</label>
                        <label>0</label>
                    </div>
                </div>
                <div class="report">
                    <div class="icon">
                        <img src="../../assets/iconsaxicons/bold/medal-star.svg" alt=""
                        style="filter: brightness(0) saturate(100%) invert(45%) sepia(4%) saturate(6713%) hue-rotate(197deg) brightness(83%) contrast(85%);">
                    </div>
                    <div class="labels">
                        <label>Student Score</label>
                        <label>0</label>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>



    </section>

</div>