@import '../../mixins.scss';

.parent {
    width: 100%;
    height: 100%;
    background: #f2f2f2a6;
    overflow: auto;
}

.topSection {

    background: var(--theme-dark);
    height: 320px;

    @include mobile-and-tablet {
        height: auto;
        padding-bottom: 30px;
    }

    .header {

        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        border-bottom: 1px solid white;
        padding: 0 40px 0 40px;
        
        @include mobile {
            flex-direction: column;
            height: auto;
            padding: 15px 20px;
            gap: 15px;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .headerSubContainerStart {
            @include mobile {
                width: 100%;
            }

            .searchContainer {

                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1%) hue-rotate(332deg) brightness(109%) contrast(101%);
                }

                input {
                    background: transparent;
                    border: none;
                    font-family: 'Poppins-Regular', sans-serif;
                    width: fit-content;
                    width: 35vw;
                    color: white;
                    font-size: 16px;
                    
                    @include mobile {
                        width: 100%;
                    }
                }

                input:focus {
                    outline: none;
                }

            }


        }

        .headerSubContainerEnd {
            display: flex;
            flex-flow: wrap;
            gap: 20px;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 15px;
            align-items: center;

            @include mobile {
                width: 100%;
                justify-content: space-between;
                margin-right: 0;
            }

            .profileDetailsContainer {

                display: flex;
                gap: 5px;

                .profileAvatarContainer {
                    display: flex;
                    flex-flow: nowrap;
                    align-items: center;
                    width: fit-content;
                    align-self: end;
                    //background: #d9d9d975;
                    background: white;
                    padding: 10px 15px 10px 15px;
                    border-radius: 40px;
                    // height: 25px;
                    // width: 25px;
                    padding: 10px;
                }

            }

            .headerOptionsIconContainer {
                padding: 10px;
                // width: 20px;
                // height: 20px;
                border-radius: 30px;
                align-items: center;
                display: flex;
                justify-content: center;
                //color: #323232;
                border: 1.5px solid #939699;
                color: #939699;
            }


        }

    }

    .welcomeContainer {

        margin: 40px;
        color: white;
        font-size: 1.5vw;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        @include mobile-and-tablet {
            flex-direction: column;
            margin: 20px;
            font-size: 16px;
            gap: 30px;
        }

        .welcomeMessage {

            width: fit-content;
            white-space: pre;

            :first-child {
                font-family: 'Poppins-Light', sans-serif;
            }

            :nth-child(2) {
                font-family: 'Poppins-Regular', sans-serif;
            }

            :last-child {
                font-family: 'Poppins-Light', sans-serif;
                display: block;
                color: darkgray;
                font-size: 12px;
                margin-top: 5px;
            }

        }

        .reportsContainer {

            display: flex;
            flex-direction: row;
            width: 70%;
            justify-content: space-around;

            @include mobile-and-tablet {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                justify-content: flex-start;
            }

            .report {
                display: flex;
                gap: 15px;

                .icon {

                    width: 60px;
                    height: 60px;
                    padding: 14px;
                    display: flex;
                    border-radius: 18px;
                    background: #ffffff17;

                    img {

                        border-radius: 18px;

                    }

                }

                .labels {

                    display: grid;

                    :first-child {
                        font-family: 'Poppins-Regular';
                        font-size: 10px;
                        color: darkgray;
                    }

                    :last-child {
                        font-family: 'Poppins-Medium';
                        font-size: 36px;
                    }

                }
            }


        }

    }


}

.cardsContainer {

    padding: 0 40px;
    margin-top: -80px;

    .card {

        height: 180px;
        width: 320px;
        background: white;
        border-radius: 16px;

        .header {

            background: transparent;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {

                width: 60px;
                height: 60px;
                padding: 14px;
                display: flex;
                border-radius: 18px;
                background: #ffffff17;

                img {

                    border-radius: 18px;

                }

            }

            .title {

                font-family: 'Poppins-Medium';
                font-size: 22px;

            }

        }

    }

}

.contentSection {

    .sectionHeader {

        display: flex;
        justify-content: space-between;

        .sectionLabel {

            font-family: "Poppins-Regular", sans-serif;
            font-size: 18px;

        }

        .toogleIcon {

            cursor: pointer;
            font-size: 28px;

        }

    }

}

.examsTabsSection {

    background: white;
    border-radius: 20px;
    padding: 30px;
    margin: 24px;

    @include mobile {
        margin: 20px;
        padding: 20px;
    }

    mat-tab-group {

        background: white;
        border-top: 1px solid gray;
        margin-top: 20px;
        padding-top: 20px;

        mat-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels {

            .mdc-tab--active {

                background: #e5e5e5;
                border-radius: 16px;

                .mdc-tab__content {

                    font-family: 'Poppins-SemiBold' !important;

                }

            }

            .mdc-tab {

                .mdc-tab__content {

                    font-family: 'Poppins-Regular';
                    font-size: 16px;

                    .mdc-tab__text-label {

                        color: black;

                    }

                }

                .mdc-tab-indicator {

                    display: none;

                }

            }


        }

        .mat-mdc-tab-body-wrapper {

            margin-top: 20px;

            .mat-mdc-tab-body {

                .mat-mdc-tab-body-content {

                    max-height: 800px;
                    gap: 20px;
                    display: grid;

                }

            }

        }

    }

    .submission {

        background: #eeeeee;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-flow: column;
        gap: 10px;

        @include mobile {
            padding: 15px;
            gap: 5px;
        }

        .examTitle {

            font-family: 'Poppins-SemiBold';
            font-size: 18px;

            @include mobile {
                font-size: 16px;
            }

        }

        .examDescriptionContainer {

            .desDiv {

                display: flex;
                gap: 20px;
                font-family: 'Poppins-Regular', sans-serif;
                font-size: 15px;

                @include mobile {
                    font-size: 12px;
                    gap: 5px;
                    flex-direction: column;
                }

                .bold {

                    font-family: 'Poppins-Medium', sans-serif;

                }

                .capitalize {

                    text-transform: capitalize;

                }


            }

            .viewResult {

                float: right;
                padding: 10px 15px;
                border-radius: 10px;
                font-family: 'Poppins-Medium';
                cursor: pointer;
                margin-top: -30px;
                background: white;
                border: none;
                
                @include mobile {
                    float: none;
                    margin-top: 10px;
                    width: 100%;
                    font-size: 14px;
                }

            }

            .viewResult:hover {

                box-shadow: 0 0 12px 6px white;

            }

        }

    }

}

.inactive {
    display: none !important;
}

::ng-deep .black-spinner circle {
    stroke: black !important;
}

.profileDetailsContainer {
    padding: 6px 12px;
    border-radius: 40px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}