<div class="sidenav" [ngClass]="collapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    @if (!collapsed()) {
      <div class="logo-text">MARKR</div>
    } @else {
      <div class="logo-text" style="font-size: 18px;">M</div>
    }
  </div>

  <ul class="sidenav-nav">
    @for (data of navData; track data.label) {
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" 
           [routerLink]="[data.routerLink]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <ng-icon [name]="data.icon" class="sidenav-link-icon"></ng-icon>
          @if (!collapsed()) {
            <span class="sidenav-link-text">{{ data.label }}</span>
          }
        </a>
      </li>
    }
  </ul>

  <div class="sidenav-footer">
    <button class="toggle-btn" (click)="toogleCollapse()">
      <ng-icon [name]="collapsed() ? 'lucideChevronRight' : 'lucideChevronLeft'"></ng-icon>
    </button>
  </div>
</div>
