<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Online School, ​Start learning from
the world’s best institutions, ​Pathways for your advancement, ​For every student,
every classroom.
Real results, ​Free Online Courses, Contact Us">
  <meta name="description" content="">
  <title>Home</title>

  <!-- <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script> -->


</head>

<body data-home-page="Home.html" data-home-page-title="Home"
  class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-a40b" style="padding-left: 0px; padding-right: 0px; min-height: fit-content;">
    <!-- <a class="u-image u-logo u-image-1" href="/">
      <img src="../../assets/index/images/default-logo.png" class="u-logo-image u-logo-image-1">
    </a> -->

    <nav class="navbar">
      <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="signinButton"><a href="/login">Sign In</a></li>
          <li class="registerButton"><a href="/register">Register</a></li>
        </ul>
        <a href="/" class="logoContainer">
          <img src="../../assets/logo/logo_white_large.svg" class="logo" style="display: flex;">
        </a>
      </div>
    </nav>


    <!-- <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
          href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
          </svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g>
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </g>
          </svg>
        </a>
      </div>
      <div class="u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1">
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="Home.html" style="padding: 10px 20px;">Home</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="About.html" style="padding: 10px 20px;">About</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="Contact.html" style="padding: 10px 20px;">Contact</a>
          </li>
        </ul>
      </div>
      <div class="u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav> -->
  </header>
  <section class="u-align-center u-black u-clearfix u-container-align-center u-section-1" id="carousel_5628">
    <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout" style="">
        <div class="u-layout-row" style="">
          <div
            class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h1
                class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-palette-1-base u-text-1"
                style="font-family: 'Poppins-Regular';">
                Crecom Online</h1>
              <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-custom-font u-font-ubuntu u-text u-text-2"
                style="font-family: 'Poppins-Regular' !important;">
                Test your ability with our regular test assignments. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Fuga explicabo inventore harum facilis,
                repudiandae, quos, a ab ducimus eius voluptatum nobis eum corrupti facere.</p>
              <a href="/login"
                class="u-active-white u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-feature u-hover-white u-none u-radius-50 u-text-active-white u-text-hover-white u-btn-2"
                data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
                style="font-family: 'Poppins-Regular';">Sign In</a>
            </div>
          </div>
          <div
            class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-2"
            src="">
            <div class="u-container-layout u-container-layout-2" src="">
              <div class="u-container-style u-group u-image u-preserve-proportions u-shape-circle u-image-1"
                data-image-width="1920" data-image-height="1200">
                <div class="u-container-layout u-container-layout-3">
                  <img class="u-image u-image-default u-image-2" src="../../assets/index/images/5555-min.png" alt=""
                    data-image-width="800" data-image-height="991">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section
    class="u-align-right u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-valign-top-sm u-white u-section-2"
    id="carousel_1e15">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-left-cell u-size-35-lg u-size-35-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h2
                class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-palette-1-base u-text-1"
                style="font-family: 'Poppins-Regular';">
                For every student, <br>every classroom. <br>Real results
              </h2>
              <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-custom-font u-font-ubuntu u-text u-text-2"
                style="font-family: 'Poppins-Regular' !important;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident</p>
              <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                  <div
                    class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-xl u-container-style u-list-item u-repeater-item">
                    <div
                      class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xl u-container-layout-2">
                      <a class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-feature u-hover-white u-none u-radius-50 u-text-active-palette-2-light-2 u-text-body-alt-color u-text-hover-palette-2-light-2 u-btn-2"
                        data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                        data-animation-direction="" style="font-family: 'Poppins-Regular';">Learners</a>
                    </div>
                  </div>
                  <div
                    class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-list-item u-repeater-item">
                    <div
                      class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xl u-container-layout-3">
                      <a class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-feature u-hover-white u-none u-radius-50 u-text-active-palette-2-light-2 u-text-body-alt-color u-text-hover-palette-2-light-2 u-btn-3"
                        data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                        data-animation-direction="" style="font-family: 'Poppins-Regular';">Teachers</a>
                    </div>
                  </div>
                  <div
                    class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-xl u-container-style u-list-item u-repeater-item">
                    <div
                      class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xl u-container-layout-4">
                      <a class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-feature u-hover-white u-none u-radius-50 u-text-active-palette-2-light-2 u-text-body-alt-color u-text-hover-palette-2-light-2 u-btn-4"
                        data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                        data-animation-direction="" style="font-family: 'Poppins-Regular';">Classes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="u-container-align-center u-container-style u-layout-cell u-right-cell u-size-25-lg u-size-25-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
            <div class="u-container-layout u-valign-middle u-container-layout-5">
              <div class="u-image u-image-circle u-image-1" data-image-width="918" data-image-height="918"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>

    <div class="footer">

      <div class="row">Follow us on</div>

      <div class="row">
        <a [href]="GlobalVar.SocialUrls['facebook']" target="_blank"><i class="fa fa-facebook"></i></a>
        <a [href]="GlobalVar.SocialUrls['instagram']" target="_blank"><i class="fa fa-instagram"></i></a>
        <a [href]="GlobalVar.SocialUrls['youtube']" target="_blank"><i class="fa fa-youtube-play"></i></a>
        <a [href]="GlobalVar.SocialUrls['twitter']" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/services">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="/career">Career</a></li>
        </ul>
      </div>

      <div class="row">
        Copyright © 2021 Crecom - All rights reserved
      </div>
    </div>

  </section>

  <section style="align-items: center; height: 100px; display: flex; background: #ffd4d48a;">

    <div style="font-family: Poppins-Regular; width: 100%; text-align: center;">Made with ❤️ for Crecom</div>

  </section>

</body>